html{font-size: 8px;}
body{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,p,div,ul,section,img,a{margin: 0; padding: 0;}
li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: black;}

body{min-height: 100vh; 
     background: #262c3a;
}
section{width: 100%;
        margin: auto;   
        max-width: 1920px;   
        min-height: 100vh; 
        display: flex;
        background: #262c3a;
}
section>header{width: 35rem;}
.mainPage{width: calc(1920px - 35rem);
          display: flex;
          flex-direction: column;
          margin-left: 5rem;
}
header>h1{width: 13.5rem;
          margin: auto;
          padding-top: 4rem;
          text-align: center;      
}
header>h2{color: white;
          margin: 0;
          font-size: 2.5rem;
          font-weight: 500;
          text-align: center;
          padding: 2.5rem 0 4rem 0;       
}
header>div{background-color: #1c222e;
           border-radius: 0 120px 0 0;
           padding-bottom: 7rem;;
}
header>div>ul{display: flex;
              flex-direction: column;
              width: 15rem;
              margin: auto;
              padding: 4.5rem 0 10rem 0;
}
header>div>ul>li>a{display: flex;
                   margin: 5rem 0 5rem 0;     
}
header>div>ul>li>a>p{margin-right: 1.5rem;}
header>div>ul>li>a>p:hover{color: #713bda;
                           font-weight: bolder;                       
}
header div a p{color: white;
               font-size: 1.5rem;
               font-weight: lighter; 
}
header>div>a{display: flex;
             width: 15rem;
             margin: auto;
             padding-left: 1rem;  
             opacity: 37%;
}
header>div>a>p{margin-right: 1.5rem;}
header>div>a>p:hover{color: white;
                     font-weight: bolder;   
}


.mainVisual{color: white;
            width: 117rem;
            margin: auto;
}
.mLogo{display: none;}
.mBtns{display: none;}
.m666{display: none;}
.mainBtns{width: 117rem;
          margin: auto;
          padding-top: 4rem;
          display: flex;
          justify-content: space-between;  
          margin-bottom: 5.7rem;
}
.mainBtns>li{display: flex;
             align-items: center;    
}
.mainBtns>li>p:nth-child(1){font-size: 5rem;}
.mainBtns>li:nth-child(1)>span{font-size: 1.5rem;
                                 color: #979797;      
}
.mainBtns>li>p:nth-child(2){font-size: 2.5rem;
                            padding: 0 1.6rem 0 1.6rem;    
}
.mainBtns>li:nth-child(2)>a:nth-child(1){color: #707070;
                                         width: 35rem;
                                         height: 6rem;
                                         background-color: white;
                                         display: flex;
                                         align-items: center;
                                         justify-content: space-between;
                                         font-size: 1.7rem;
                                         padding-left: 2.5rem;
                                         border-radius: 15px;    
}
.mainBtns>li:nth-child(2)>a:nth-child(1)>img{margin-right: 2.5rem;}
.mainBtns>li:nth-child(2)>a{padding-left: 4rem;
                            display: flex;
                            align-items: center;    
}
.mainBtns>li:nth-child(2)>p{background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 25px;
                            padding: 1rem 2rem 1rem 2rem;
}
.mainBtns>li:nth-child(2)>p>input{border: none;
                                  margin-right: 2rem;
                                  padding: 1rem 1rem 1rem 0;
}
.mainBtns>li:nth-child(2)>p>a{display: flex;
                                    align-items: center;
                                  
}
.mainBtns>li:nth-child(2)>a:nth-child(3){color: white;
                                         font-size: 1.9rem;                                        
}
.mainBtns>li:nth-child(2)>a:nth-child(3)>img{margin-right: 1rem;}
.mainImage{width: 117rem;
           height: 44rem;
           margin: auto;
           background-image: url(../img/mainVisual.png);
           background-repeat: no-repeat;
           color: white;
}
.mainImage>div>p:nth-child(1){font-size: 2rem;
                          padding: 21rem 0 2.3rem 5rem;
}
.mainImage>div>p:nth-child(2){font-size: 3rem;
                          padding-left: 5rem;
}
.mainImage>div>p:nth-child(3){font-size: 1.5rem;
                          opacity: 58%;
                          padding: 3.7rem 0 7.3rem 5rem;
}


.newTag{width: 117rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 5.5rem;
}
.newTag>p{font-size: 2.9rem;
          color: white;        
}
.newTag>ul{display: flex;}
.newTag>ul>li{border: 1px solid #808693;
              width: 10rem;
              height: 3.6rem;  
              margin-left: 1.2rem;
              border-radius: 20px;
              display: flex;
              justify-content: center;
              align-items: center;  
}
.newTag>ul>li:hover{background-color: #713bda;
                    border: 1px solid #713bda;
}
.newTag>ul>li>a:hover{background-color: #713bda;
                      color: white;
                      font-weight: bolder;    
}
.newTag>ul>li>a{color: #808693;
                font-size: 1.7rem;
}

.movieThumbnail{width: 117rem;
                margin: auto;
                padding-top: 9rem;
}
.movieThumbnail>h2{font-size: 2.9rem;
                   color: white;
                   display: inline;
                   font-weight: 400;     
}
.movieThumbnail>span{font-size: 2.3rem;
                     color: #ff735c;
                     padding-left: 1.5rem;   
}
.movieThumbnail>div{display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 0 9.7rem 0;           
}
.movieThumbnail>div>a>ul{display: flex;
                       justify-content: space-between; 
                       width: 38rem;
                       height: 32rem;           
}
.movieThumbnail>div>a>ul>li>p{font-size: 2.5rem;
                            font-weight: bold;
                            color: white;    
}
.movieThumbnail>div>a>ul>li>span{font-size: 1.7rem;
                               opacity: 78%;
                               color: white; 
}
.movieThumbnail>div>a>ul>li:nth-child(1){padding: 23rem 0 0 2rem;}
.movieThumbnail>div>a>ul>li:nth-child(2){font-size: 1.3rem;
                                       opacity: 78%;
                                       color: white;
                                       padding: 26rem 2.6rem 0 0;         
}
.movieThumbnail>div>a:nth-child(1){background-image: url(../img/talkingMovie1.png);
                                       background-repeat: no-repeat; 
}
.movieThumbnail>div>a:nth-child(2){background-image: url(../img/talkingMovie2.png);
                                       background-repeat: no-repeat; 
}
.movieThumbnail>div>a:nth-child(3){background-image: url(../img/talkingMovie3.png);
                                       background-repeat: no-repeat; 
}


.aboutMovie{width: 117rem;
            height: 39rem;    
            margin: auto;
            display: flex;
            justify-content: space-between;
}
.aboutMovie>div:nth-child(1){display: flex;
                             border-radius: 25px;
                             background-color: #353c4b;   
}
.aboutMovie>div:nth-child(1){width: 83.5rem;
                             display: flex;
                             flex-direction: column;   
}
.aboutMovie>div:nth-child(2){width: 28.5rem;}
.aboutMovie>div:nth-child(1)>ul:nth-child(1){display: flex;
                                             justify-content: space-between;
                                             width: 74rem;
                                             margin: auto;
                                             padding-bottom: 3.4rem;     
}                                          
.aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>p{color: white;
                                                               font-size: 2.9rem;
                                                               padding: 5.8rem 0 3.3rem 0;
}
.aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>span{color: #eaeaea;
                                                                  font-size: 1.7rem;
                                                                  line-height: 2.6rem;     
}
.aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>p{padding-top: 5.8rem;}
.aboutMovie>div:nth-child(1)>ul:nth-child(2){border-top: 2px solid #5b616e;
                                             display: flex;
                                             justify-content: space-between;
                                             width: 74rem;
                                             margin: auto;
                                             padding: 3.4rem 0 5.6rem 0;
                                             align-items: center;     
}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li{display: flex;}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1){color: #5b616e;}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>p{font-size: 2rem;
                                                               font-weight: bold;         
}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>span{font-size: 1.7rem;
                                                                  padding-top: 0.5rem;      
}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2){font-size: 1.7rem;}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p:nth-child(1){padding-top: 0.1rem;}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p:nth-child(2){color: #ff735c;
                                                                            margin-left: 0.2rem;    
}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p:nth-child(3){padding-top: 0.1rem;
                                                                            margin-left: 1.8rem;    
}
.aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p:nth-child(4){color: #713bda;
                                                                            margin-left: 0.2rem;
}
.aboutMovie>div:nth-child(2){width: 23.5rem;
                             display: flex;
                             flex-direction: column;
                             border-radius: 25px;
                             background-color: #212733;
                             align-items: center;
}
.aboutMovie>div:nth-child(2)>p{font-size: 2.1rem;
                               color: #c8ceda;
                               padding: 4rem 0 2.2rem 0;
                               line-height: 3rem;
                               text-align: center; 
}
.aboutMovie>div:nth-child(2)>span{font-size: 1.7rem;
                                  color: #808693;
                                  padding-bottom: 3.75rem;
                                  text-align: center;
}
.aboutMovie>div:nth-child(2)>div>button{width: 9.4rem;
                                        margin-bottom: 1.2rem;
                                        font-size: 1.7rem;
                                        display: flex;
                                        flex-direction: column; 
                                        align-items: center;   
}
.aboutMovie>div:nth-child(2)>a{font-size: 1.7rem;
                               color: #808693;
                               padding-top: 4rem;         
}



.comicThumbnail{width: 117rem;
                margin: auto;
                padding-top: 9rem;
}
.comicThumbnail>h2{font-size: 2.9rem;
                   color: white;
                   display: inline;
                   font-weight: 400;     
}
.comicThumbnail>span{font-size: 2.3rem;
                     color: #ff735c;
                     padding-left: 1.5rem;   
}
.comicThumbnail>div{display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 0 9rem 0;           
}
.comicThumbnail>div>a>ul{display: flex;
                       justify-content: space-between; 
                       width: 38rem;
                       height: 32rem;           
}
.comicThumbnail>div>a>ul>li>p{font-size: 2.5rem;
                            font-weight: bold;
                            color: white;    
}
.comicThumbnail>div>a>ul>li>span{font-size: 1.7rem;
                               opacity: 78%;
                               color: white; 
}
.comicThumbnail>div>a>ul>li:nth-child(1){padding: 23rem 0 0 2rem;}
.comicThumbnail>div>a>ul>li:nth-child(2){font-size: 1.3rem;
                                       opacity: 78%;
                                       color: white;
                                       padding: 26rem 2.6rem 0 0;         
}
.comicThumbnail>div>a:nth-child(1){background-image: url(../img/recommend1.png);
                                    background-repeat: no-repeat;                                    
}
.comicThumbnail>div>a:nth-child(2){background-image: url(../img/recommend2.png);
                                    background-repeat: no-repeat; 
}
.comicThumbnail>div>a:nth-child(3){background-image: url(../img/recommend3.png);
                                    background-repeat: no-repeat; 
}



.question{width: 117rem;
          margin: auto;
          color: white;
          display: flex;
          flex-direction: column;
}
.question>div:nth-child(1){display: flex;
                           justify-content: space-between;
                           padding-bottom: 2.5rem;
                           align-items: center;
}
.question>div:nth-child(2){display: flex;
                           flex-wrap: wrap;
                           justify-content: space-around;
                           background-color: #353c4b;
                           border-radius: 25px;
}
.question>div:nth-child(2)>ul{display: flex;
                              width: 47%;
                              align-items: center;
}
.question>div:nth-child(2)>ul{padding: 2.5rem 0 3rem 2rem;}
.question>div:nth-child(2)>ul>li:nth-child(1){padding: 0 1.5rem 0 3rem;}
.question>div:nth-child(2)>ul>li:nth-child(2){font-size: 1.8rem;
                                              line-height: 3rem;
                                              padding-left: 2rem;  
}
.question>div:nth-child(2)>ul>li:nth-child(3){padding-left: 6rem;}
.question>div:nth-child(2)>ul:nth-child(4)>li:nth-child(3){padding-left: 3.2rem;}
.question>div:nth-child(1)>p{font-size: 2.9rem;}
.question>div:nth-child(1)>span>a{font-size: 1.7rem;
                                  color: #9a9a9a;
}
.question>div:nth-child(2)>ul>li>a{background-color: #713bda;
                                   color: white;
                                   padding: 0.7rem 1rem 0.7rem 1rem;
                                   font-size: 1.5rem;
                                   font-weight: 350;                   
}
.question>div:nth-child(2)>ul>li>a:hover{background-color: white;
                                         color: #713bda;
                                         font-weight: bolder; 
}


.tag{width: 117rem;
     margin: auto;
     display: flex;
     flex-direction: column;
     padding: 9rem 0 9rem 0; 
}
.tag>h2{color: white;
        font-size: 2.9rem;
        font-weight: 350;
}
.tag>ul{display: flex;
        flex-wrap: wrap;
}
.tag>ul>li{padding: 4rem 2.5rem 0 0;}
.tag>ul>li>a{color: #808693;
             border: 1px solid #808693;
             font-size: 1.7rem;
             padding: 1rem 1.5rem 1rem 1.5rem;
             border-radius: 25px;     
}
.tag>ul>li>a:hover{background-color: #713bda;
                   border: 1px solid #713bda;
                   color: white;     
}

footer{width: 100%;
       max-width: 1920px; 
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color: #41495c;
       padding-top: 7rem;
       border-top: 1px solid #41495c; 
}
footer>ul{width: 100rem;
          display: flex;
          padding-top: 3rem;
          justify-content: space-between;        
}
footer>ul>li>a{color: #41495c;
               font-size: 1.8rem; 
}
footer>div{width: 12rem;
           display: flex;
           justify-content: space-between;
           padding-top: 5rem;   
}
footer>p{padding: 3rem 0 3rem 0;}



@media screen and (max-width: 430px){
        body{width: 100%;
             max-width: 430px;
             margin: auto;
             font-size: 4px;   
        }
        section{width: 100%;
                max-width: 430px;
                margin: auto;
                display: flex;
                flex-direction: column;
        }
        .mLogo{display: block}
        .mLogo>a>img{width: 8rem;}
        section>header{display: none;}

        .mainPage{width: 100%;
                  max-width: 430px;
                  margin: auto;
        }
        .mainVisual{width: 100%;
                    max-width: 430px;
                    margin: auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 4rem 0 6rem 0;
        }
        .m666{display: block;
              font-size: 2.5rem;
              padding-right: 5rem;
        }
        .mBtns{display: block}
        .mBtns>a{display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 width: 4rem;
                 height: 3rem;
        }
        .mBtns>a>p{width: 4rem;
                   height: 0.5rem;
                   background-color: white;
        }
        .mainBtns{display: none;}
        

        .mainImage{width: 100%;
                   max-width: 350px;
                   margin: auto;
                   height: 300px;
                   border-radius: 30px;
                   background-position: 61% 0%;
                   display: flex;
                   align-items: center;
                   flex-direction: column;
                   position: relative;
        }
        .mainImage>div{position: absolute;
                       bottom: 2rem;
        }
        .mainImage>div>p:nth-child(1){padding: 0;
                                      padding-top: 23rem;
        }
        .mainImage>div>p:nth-child(2){padding: 1.5rem 0 1.5rem 0;}
        .mainImage>div>p:nth-child(3){font-size: 1rem;
                                      padding: 0;
        }

        .newTag{display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 350px;
                margin: auto;
        }
        .newTag>ul{display: flex;
                   flex-wrap: wrap;
                   justify-content: space-around;
                   padding-top: 3rem;
        }
        .newTag>ul>li{margin-bottom: 2rem;
                      padding: 0;  
        }
        .newTag>ul>li:nth-child(7){display: none;}
        .newTag>ul>li:nth-child(8){display: none;}

        .movieThumbnail{width: 100%;
                        max-width: 430px;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
        }
        .movieThumbnail>div{display: flex;
                            flex-direction: column;
                            padding-bottom: 6rem;
        }
        .movieThumbnail>span{display: none;}

        .aboutMovie{width: 100%;
                    max-width: 430px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 52rem;    
        }
        .aboutMovie>div:nth-child(1){width: 100%;
                                     max-width: 350px;
                                     margin-bottom: 5rem;   
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1){display: flex;
                                                     flex-wrap: wrap-reverse;
                                                     flex-direction: column;
                                                     align-items: center;
                                                     width: 100%;
                                                     max-width: 350px;   
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li{display: flex;
                                                        align-items: center;
                                                        flex-direction: column;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>p{padding: 4rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>span{font-size: 1rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>p{padding-top: 3rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>p>img{width: 15rem;
                                                                           height: 15rem;     
                                                                
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2){display: flex;
                                                     justify-content: space-between;
                                                     width: 100%;
                                                     max-width: 350px;
                                                     padding: 2rem 0 2rem 0;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li{padding: 0 1.5rem 0 1.5rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>p{font-size: 1.6rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>span{font-size: 1.3rem;
                                                                          padding-left: 1rem;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p>img{width: 2rem;
                                                                           height: 1.7rem;     
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p{font-size: 2rem;
                                                                       line-height: 3rem;
                                                                       text-align: center;
                                                                    
        }

        .aboutMovie>div:nth-child(2){width: 100%;
                                     max-width: 300px;   
        }
        .aboutMovie>div:nth-child(2)>div{display: flex;
                                         justify-content: space-between;
                                         width: 170px;   
        }
        .aboutMovie>div:nth-child(2)>div>button{padding: 0;
                                                margin: 0;
        }
        .aboutMovie>div:nth-child(2)>a{color: white;
                                       font-size: 1rem;
                                       padding: 3rem 0 3rem 0;         
        }


        .comicThumbnail{width: 100%;
                        max-width: 430px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;        
        }
        .comicThumbnail>span{display: none;}
        .comicThumbnail>div{display: flex;
                            flex-direction: column;    
        }


        .question{width: 100%;
                  max-width: 430px;
                  margin: auto;
        }
        .question>div{width: 100%;
                      max-width: 350px;
                      margin: auto;  
        }
        .question>div:nth-child(2){display: flex;
                                   flex-direction: column;
                                   padding: 3rem 2rem 3rem 2rem;   
        }
        .question>div:nth-child(2)>ul{width: 100%;
                                      max-width: 300px;
                                      margin: auto;
                                      display: flex;
                                      flex-wrap: wrap;
                                      justify-content: space-between;
                                      padding: 0;  
        }
        .question>div:nth-child(2)>ul:nth-child(2){padding: 2rem 0 2rem 0;}
        .question>div:nth-child(2)>ul:nth-child(1)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(2)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(3)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(1)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(2)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(3)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul>li>p{font-size: 1rem;}
        .question>div:nth-child(2)>ul>li>span{font-size: 1rem;}
        .question>div:nth-child(2)>ul>li>a{font-size: 1rem;} 
        .question>div:nth-child(2)>ul:nth-child(4){display: none;}

        .tag{width: 100%;
             max-width: 350px;
             margin: auto;   
        }
        .tag>h2{text-align: center;}
        .tag>ul{width: 100%;
                max-width: 300px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
        }
        .tag>ul>li{padding: 4rem 1rem 0 1rem;}
        .tag>ul>li>a{font-size: 1.3rem;}
        .tag>ul>li:last-child{display: none;}
        .tag>ul>li:nth-child(6){display: none;}
        .tag>ul>li:nth-child(7){display: none;}
        .tag>ul>li:nth-child(8){display: none;}
        .tag>ul>li:nth-child(9){display: none;}
        .tag>ul>li:nth-child(10){display: none;}
        .tag>ul>li:nth-child(11){display: none;}
        .tag>ul>li:nth-child(12){display: none;}
        .tag>ul>li:nth-child(13){display: none;}
        .tag>ul>li:nth-child(14){display: none;}
        .tag>ul>li:nth-child(15){display: none;}

        


        footer{width: 100%;
                max-width: 430px;
                margin: auto;
        }
        footer>ul{width: 100%;
                   max-width: 350px;
                   margin: auto;
        }
        footer>ul>li>a{font-size: 1.4rem;}
}


@media screen and (max-width: 350px){
        body{width: 100%;
             max-width: 350px;
             margin: auto;
             font-size: 3px;   
        }
        section{width: 100%;
                max-width: 350px;
                margin: auto;
                display: flex;
                flex-direction: column;
        }
        .mLogo{display: block}
        .mLogo>a>img{width: 6rem;}
        section>header{display: none;}

        .mainPage{width: 100%;
                  max-width: 350px;
                  margin: auto;
        }
        .mainVisual{width: 100%;
                    max-width: 350px;
                    margin: auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 4rem 0 6rem 0;
        }
        .m666{display: block;
              font-size: 2rem;
              padding-right: 5rem;
        }
        .mBtns{display: block}
        .mBtns>a{display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 width: 3rem;
                 height: 3rem;
        }
        .mBtns>a>p{width: 3rem;
                   height: 0.5rem;
                   background-color: white;
        }
        .mainBtns{display: none;}
        

        .mainImage{width: 100%;
                   max-width: 290px;
                   margin: auto;
                   height: 180px;
                   border-radius: 30px;
                   background-position: 61% 0%;
                   display: flex;
                   align-items: center;
                   flex-direction: column;
                   position: relative;
                   background-size: cover;
        }
        .mainImage>div{position: absolute;
                       bottom: 1rem;
        }
        .mainImage>div>p:nth-child(1){padding: 0;
                                      padding-top: 23rem;
                                      font-size: 1.5rem;
                                      text-align: center;
        }
        .mainImage>div>p:nth-child(2){padding: 1.5rem 0 1.5rem 0;
                                      font-size: 2rem;  
        }
        .mainImage>div>p:nth-child(3){font-size: 0rem;
                                      padding: 0;
        }

        .newTag{display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 250px;
                margin: auto;
        }
        .newTag>ul{display: flex;
                   flex-wrap: wrap;
                   justify-content: space-around;
                   padding-top: 3rem;
        }
        .newTag>ul>li{margin-bottom: 1rem;
                      padding: 0;
                      width: 7rem;
                      height: 3rem;  
        }
        .newTag>ul>li>a{font-size: 1rem;}
        .newTag>ul>li:nth-child(7){display: none;}
        .newTag>ul>li:nth-child(8){display: none;}

        .movieThumbnail{width: 100%;
                        max-width: 350px;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
        }
        .movieThumbnail>div{display: flex;
                            flex-direction: column;
                            padding-bottom: 6rem;
        }
        .movieThumbnail>span{display: none;}

        .aboutMovie{width: 100%;
                    max-width: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 52rem;    
        }
        .aboutMovie>div:nth-child(1){width: 100%;
                                     max-width: 290px;
                                     margin-bottom: 5rem;   
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1){display: flex;
                                                     flex-wrap: wrap-reverse;
                                                     flex-direction: column;
                                                     align-items: center;
                                                     width: 100%;
                                                     max-width: 290px;   
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li{display: flex;
                                                        align-items: center;
                                                        flex-direction: column;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>p{padding: 4rem;
                                                                       font-size: 2.5rem; 
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(1)>span{font-size: 1rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>p{padding-top: 3rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(1)>li:nth-child(2)>p>img{width: 15rem;
                                                                           height: 15rem;     
                                                                
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2){display: flex;
                                                     justify-content: space-between;
                                                     width: 100%;
                                                     max-width: 290px;
                                                     padding: 2rem 0 2rem 0;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li{padding: 0 1.5rem 0 1.5rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>p{font-size: 1rem;}
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(1)>span{font-size: 1rem;
                                                                          margin-left: 1rem;
                                                                          padding: 0;
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p>img{width: 1.8rem;
                                                                           height: 1.5rem;     
        }
        .aboutMovie>div:nth-child(1)>ul:nth-child(2)>li:nth-child(2)>p{font-size: 1.5rem;
                                                                       line-height: 3rem;
                                                                       text-align: center;
                                                                    
        }

        .aboutMovie>div:nth-child(2){width: 100%;
                                     max-width: 250px;   
        }
        .aboutMovie>div:nth-child(2)>div{display: flex;
                                         justify-content: space-between;
                                         width: 170px;   
        }
        .aboutMovie>div:nth-child(2)>div>button{padding: 0;
                                                margin: 0;
                                                font-size: 1rem;
        }
        .aboutMovie>div:nth-child(2)>a{color: white;
                                       font-size: 1rem;
                                       padding: 3rem 0 3rem 0;         
        }


        .comicThumbnail{width: 100%;
                        max-width: 350px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 2rem;        
        }
        .comicThumbnail>span{display: none;}
        .comicThumbnail>div{display: flex;
                            flex-direction: column;    
        }


        .question{width: 100%;
                  max-width: 350px;
                  margin: auto;
        }
        .question>div{width: 100%;
                      max-width: 230px;
                      margin: auto;  
        }
        .question>div:nth-child(1){width: 230px;
                                   margin: auto;     
        }
        .question>div:nth-child(1)>p{font-size: 2rem;}
        .question>div:nth-child(2){display: flex;
                                   flex-direction: column;
                                   padding: 3rem 2rem 3rem 2rem;   
        }
        .question>div:nth-child(2)>ul{width: 100%;
                                      max-width: 230px;
                                      margin: auto;
                                      display: flex;
                                      flex-wrap: wrap;
                                      justify-content: space-around;
                                      padding: 0;  
        }
        .question>div:nth-child(2)>ul:nth-child(2){padding: 2rem 0 2rem 0;}
        .question>div:nth-child(2)>ul:nth-child(1)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(2)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(3)>li:nth-child(1){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(1)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(2)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul:nth-child(3)>li:nth-child(3){padding: 0;}
        .question>div:nth-child(2)>ul>li:nth-child(2){padding: 0;}
        .question>div:nth-child(2)>ul>li:nth-child(1){display: none;}
        .question>div:nth-child(2)>ul>li>p{font-size: 1rem;}
        .question>div:nth-child(2)>ul>li>span{font-size: 1rem;}
        .question>div:nth-child(2)>ul>li>a{font-size: 1rem;} 
        .question>div:nth-child(2)>ul:nth-child(4){display: none;}

        .tag{width: 100%;
             max-width: 350px;
             margin: auto;   
        }
        .tag>h2{text-align: center;}
        .tag>ul{width: 100%;
                max-width: 280px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                
        }
        .tag>ul>li{padding: 4rem 1rem 0 1rem;}
        .tag>ul>li>a{font-size: 1rem;}
        .tag>ul>li:last-child{display: none;}
        .tag>ul>li:nth-child(6){display: none;}
        .tag>ul>li:nth-child(7){display: none;}
        .tag>ul>li:nth-child(8){display: none;}
        .tag>ul>li:nth-child(9){display: none;}
        .tag>ul>li:nth-child(10){display: none;}
        .tag>ul>li:nth-child(11){display: none;}
        .tag>ul>li:nth-child(12){display: none;}
        .tag>ul>li:nth-child(13){display: none;}
        .tag>ul>li:nth-child(14){display: none;}
        .tag>ul>li:nth-child(15){display: none;}

        


        footer{width: 100%;
                max-width: 350px;
                margin: auto;
        }
        footer>ul{width: 100%;
                   max-width: 280px;
                   margin: auto;
        }
        footer>ul>li>a{font-size: 1rem;}
}